doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Appium Base

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section(data-bespoke-state='title')
        h1 Appium Presentation Base
        h2 Isaac A. Murchie
        h3 @imurchie


      section(data-bespoke-state='oneliner')
        h2.bullet Software Developer, Ecosystems and Integrations, Sauce Labs
        ul
          li Core Appium Engineer
          li Maker of cool stuff

      section(data-bespoke-state='title')
        h1 Thanks!
        h2 <a href="https://twitter.com/imurchie">@imurchie</a>
        h3 <a href="http://saucelabs.com">SauceLabs.com</a>

    script(src='build/build.js')
